<!DOCTYPE html>
<html>
<head>
    <title>Talkback</title>
    <script src="/assets/js/vendor/JSXTransformer.js"></script>
    <script src="/assets/js/vendor/react.min.js"></script>
    {#<script src="/assets/js/vendor/react.js"></script>#}
    <script src="/assets/js/vendor/react-cookie.min.js"></script>

    {% block stylesheets %}
        <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/theme/main.css">
    {% endblock %}
</head>
<body>

<div class="TalkBackWrapper">
    {% block header %}
    <section id="banner">
        <ul >
            <li class="menuItem"><a href="{{ app.url_generator.generate('homepage') }}">Home</a></li>
            <li class="menuItem"><a href="{{ app.url_generator.generate('topiclist') }}">Topics</a></li>
            <li class="menuItem"><a href="{{ app.url_generator.generate('addtopic') }}">Add New Topic</a></li>
            <li class="menuItem"><a href="{{ app.url_generator.generate('profile.change') }}">Change User</a></li>
            <li class="menuItem"><a href="{{ app.url_generator.generate('profile.badges') }}">Badges</a></li>
        </ul>
        <header>
            <h2 id="header_title">{{ header_title }}</h2>
        </header>
        <p id="header_underline">{{ header_underline }}</p>

    </section>
    {% endblock %}
    {% block body %}
    {% endblock %}
    <section id="footer">
        <div class="copyright">
            <ul class="menu">
                <li>© Talkback 2015</li>
            </ul>
        </div>
    </section>
</div>
{% block javascript %}
    <script type="text/jsx" src="/assets/js/vendor/jquery-2.1.4.min.js"></script>
{% endblock %}
</body>
</html>